body {
    background-color: #A8DF8E;
    font-family: 'Roboto', sans-serif;
}

.hurray{
    color: #ffffff;
    font-weight: 600;
    font-size: 65px;
    text-align: center;
    margin-top: 25%;
    letter-spacing: 10px;
}

#cancel{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    position: absolute;
    top: -30px;
    right: -30px;
}

#inner-cancel{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid #FF0000;
    background-color: #FF0000;
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: 'Dangrek';
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

#rules-defined{
    visibility: hidden;
    width: 250px;
    height: 270px;
    background-color: #004429;
    border: 7px solid #ffffff;
    border-radius: 13px;
    position: absolute;
    right: 50px;
    bottom: 80px;
    color: #ffffff;
}

#rules-content{
    display: flex;
    flex-direction: column;
}

#rules-content p{
    font-weight: 400;
    font-size: 10px;
}

#rule-div{
    display: flex;
    padding-bottom: 30px;
}

#boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}

.yellow-box{
    width: 8px;
    height: 8px;
    background-color: #FFD600;
}

.play-again-button{
    width: 144px;
    height: 34px;
    position: absolute;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 2px;
    border-radius: 9px;
    background-color: #ffffff;
    border: solid #ffffff;
    color: #6B6B6B;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}



.star{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.trophy{
    width: 10%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.won{
    color: #ffffff;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin-top: -5%;
    letter-spacing: 3px;
}

#rules{
    width: 100px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: solid #ffffff;
    position: absolute;
    right: 40px;
    bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: large;
    letter-spacing: 2px;
}

